{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Partida</h1>
{# app/Resources/views/partidas/nueva.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
